<div class="dynamic_container">
    <div class="col-lg-6 col-lg-offset-3">

        <form name="addBeaconForm" role="form" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="number">Beacon Number</label>
                    <input type="text" class="form-control" id="number" name="number" data-ng-model="beacon.number" placeholder="Number of The Beacon" required>
                    <span data-ng-show="addBeaconForm.title.$error.required" class="help-inline">Required</span>
                </div>

                <div class="control-group">
                    <label class="control-label" for="major">Major</label>
                    <input type="number" class="form-control" id="major" name="major" data-ng-model="beacon.major" placeholder="Major" required>
                    <span data-ng-show="addBeaconForm.author.$error.required" class="help-inline">Required</span>
                </div>

                <div class="control-group">
                    <label class="control-label" for="minor">Minor</label>
                    <input type="number" class="form-control" id="minor" name="minor" data-ng-model="beacon.minor" placeholder="Minor" required>
                    <span data-ng-show="addBeaconForm.author.$error.required" class="help-inline">Required</span>
                </div>

                <br/>

                <button data-ng-click="go('/beacons')" data-ng-show="isActive('path')" class="btn btn-default">Cancel</button>
                <button data-ng-click="addBeacon()" data-ng-disabled="addBeaconForm.$invalid" class="btn btn-success">Save</button>
            </fieldset>
        </form>
    </div>
</div>